<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Brian</td>
            <td>39</td>
        </tr>
        <tr>
            <td>Leila</td>
            <td>13</td>
        </tr>
    </tbody>
</table>